RewriteEngine On
RewriteBase /c/zanvarsity/

# Prevent directory listing
Options -Indexes

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
